
/* Master styles */
body {
    margin: 0px;

}

.containers{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

/*Nav Styles*/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.left-stack{
    display: flex;
    justify-content: space-between;
    padding: 2px;

    
}

.nav-wrapper > .left-stack > div{
    margin-right: 4px;
    font-size: 0.8em;
    text-transform: uppercase;

    
}

.right-stack{
    display: inline;
    justify-content: space-between;
    padding: 2px;
    
}


.nav-link a {
    color: rgb(168, 165, 164);
    text-decoration: none;



}

.nav-link a:hover {
    border-bottom: 1px solid black;
    color: black;
}

.nav-wrapper > .right-stack > .namespace > div{
    display: flex;
    justify-content: stretch;
    padding: 1px;
    font-size: xx-small;
    
    
}

/*Portfolio Styles*/
.presentation-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.portfolio-main-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.portfolio-sub-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.portfolio-main-item{
    position: relative;

}
.portfolio-sub-item{
    position: relative;

}

.portfolio-main-img{
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.portfolio-sub-img{
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-main-txt-wrapper{

    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    text-align: center;
}

.img-sub-txt-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;

}



.logo-wrapper img {
    width: 33%;
    height: 100%;
}

.subtitle {
    color: white;
    font-style: normal;
    font-size: x-large;
    font-weight: lighter;
}    

.img-main-txt-wrapper:hover .subtitle {
    color: rgb(255, 217, 5);
    font-style: initial;
    font-size: larger;
    font-weight: normal;
    border-bottom: 0.7px white;
    border-bottom-style: solid;

}

.img-sub-txt-wrapper:hover .subtitle {
    color: rgb(255, 217, 5);
    font-style: initial;
    font-size: larger;
    font-weight: normal;
    border-bottom: 0.7px white;
    border-bottom-style: solid;

}

.img-darken {
    transition: 0.61s;
    filter: brightness(55%);
}
